@import "src/app/App.sass"
    


.modal
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    display: none
    background-color: rgba(0, 0, 0, 0.5)

.active
    display: flex
    justify-content: center
    align-items: center

.modalContent
    text-align: center
    color: grey
    display: block
    padding: 40px 25px 25px  25px
    background: white
    border-radius: 14px
    min-width: 30%
    min-height: 90px
    +theme(background-color, mainBg)
    +theme(color, text)
    overflow-y: auto
    max-height: 70%
    &::-webkit-scrollbar
        width: 7px
        margin-right: 10px
    &::-webkit-scrollbar-track
        background: #b6b6b6
    &::-webkit-scrollbar-thumb
        background-color: #363636
        border-radius: 20px
    
.mainContent
    margin-bottom: 30px
    font-size: 2rem    