@import "src/app/App.sass"

.header
    position: sticky
    top: 0
    width: 100%
    hr
        margin: 0

.headerContent
    display: flex
    flex-direction: row
    padding-top: 1rem
    padding-left: 3rem
    padding-bottom: 1rem
    +theme(background-color, bgHeader)
    +theme(color, text)
    
.children
    margin-left: 20px
    display: flex
    flex-direction: row
    align-items: center
    gap: 20px
    width: 300px
    // padding: 10px
    +theme(color, text)

.link
    text-decoration: none
    color: black
    height: 22px
    width: 80px
    text-align: center
    +theme(color, text)
    &:hover
        border-bottom: 3px solid #5959597a
    
.active
    border-bottom: 3px solid #535353
    font-weight: 500
    
    

.logo
    margin-right: 100px

@media (max-width: 770px)
    .headerContent
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 1rem 0
        // gap: 30px
        // padding-bottom: 30px
        // padding-top: 1rem
        // padding-left: 3rem
    .logo
        margin: 0