.mainContent
    // border: 2px solid black
    display: flex
    flex-direction: column
    max-width: 60%
    padding: 10px 60px
    // border-radius: 5px
    margin: 0 auto
    text-align: center
    padding-top: 50px

.addProductButton
    width: 500px
    border: 1px solid #000000
    border-radius: 5px
    background-color: #ffffff
    padding: 10px
    font-size: 14px
    &:hover
        cursor: pointer
        background-color: #f6f6f6