// Переменные для светлой темы
$color1: #878787;
$light: (
  mainBg: #fff,
  bg: #f3f4f6,
  borderColor: #e9e9ea,
  borderColor2: #f0f0f0,
  border: 1px solid #e9e9ea,
  boxShadow: 0 3px 6px rgba(0, 0, 0, 0.05),
  brightText: #23272f,
  skeletonLight: #f2f2f2,
  skeletonDark: #e6e6e6,
  skeletonImage: linear-gradient(90deg, #f2f2f2, #e6e6e6, #f2f2f2),
  inverseText: #f6f7f9,
  mainRed: red,
  text: #2c2c2c,
  lightText: #5c5c5c,
  accent: #077ea5,
  // bg3: #299bb2,
  text3: #ededed,
  borderColor3: $color1,
  bgHeader: #e5f7fe,
  inverseBg: #282828,
  forButton: #c1c1c1
);

// Переменные для темной темы
$dark: (
  mainBg: #404048,
  bg: #282828,
  borderColor: #4c4e52,
  borderColor2: #3c3c3c,
  border: 1px solid #4c4e52,
  boxShadow: 0 3px 6px rgba(255, 255, 255, 0.05),
  brightText: #f6f7f9,
  skeletonLight: #383838,
  skeletonDark: #2c2c2c,
  skeletonImage: linear-gradient(90deg, #383838, #2c2c2c, #383838),
  inverseText: #23272f,
  mainRed: red,
  text: #f6f7f9,
  lightText: #ebecf0,
  accent: #077ea5,
  // bg3: #299bb2,
  text3: #f6f7f9,
  borderColor3: $color1,
  bgHeader: #381820,
  inverseBg: #f3f4f6,
  forButton: #5d5d68
);